<div fxLayout="row" fxLayoutWrap="wrap" class="data-table">
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>

      <mat-card-content>
          
        <div fxLayout="row" fxLayoutWrap="wrap">

          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <p-dataTable #dt [value]="data" [(selection)]="selectedToPrint" [responsive]="true" class="tasks-table" expandableRows="true"
              [headerCheckboxToggleAllPages]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,40,80]" [sortOrder]="sortO"
              [globalFilter]="gFilter">
              <p-header style="padding:0px">
                <mat-toolbar class="main-header">

                  <div class="search-bar" fxFlex>
                    <div class="search-form" fxShow="false" fxShow.gt-xs>

                      <input #gFilter style="margin-left:1rem;" type="text" placeholder="Search All" autofocus="true" />
                    </div>
                  </div>
                  <span class="spacer"></span>
                  <button mat-raised-button onclick="window.print()">Print</button>
                  
                </mat-toolbar>

              </p-header>
              <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
              <p-column field="noId" header="Id" [sortable]="true"></p-column>

              <p-column field="company" header="Company" [sortable]="true"></p-column>
              <p-column field="date" header="Date" [sortable]="true"></p-column>
              <p-column field="sender.name" header="Sender Name" [sortable]="true"></p-column>
              <p-column field="reciever.name" header="Reciever Name" [sortable]="true"></p-column>



            </p-dataTable>
          </div>

        </div>
      </mat-card-content>


    </mat-card>
  </div>

</div>

<div *ngFor="let toPrint of getPrint()">
  <mat-card class="print-card">
    <mat-card-header>
      <div>
        <mat-card-title>{{toPrint.company}}</mat-card-title>
        <mat-card-subtitle>{{toPrint.noId}}</mat-card-subtitle>
      </div>
      <span class="spacer"></span>

      <div style="float:left;margin-right:90px">
        <mat-card-title>Data</mat-card-title>
        <mat-card-subtitle>{{toPrint.date}}</mat-card-subtitle>
      </div>


    </mat-card-header>
    <mat-card-content>
      <div class="reciversender">

        <div class="reciversender-name">To {{toPrint.reciever.name}}</div>

        <div style="float: right;margin-right: 10px;">{{toPrint.reciever.phone}}</div>

        <div class="reciversender-address">{{toPrint.reciever.address1}}</div>

        <div class="reciversender-address">{{toPrint.reciever.address2}}</div>
        <div class="reciversender-address">{{toPrint.reciever.suburb}}</div>


      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="reciversender">
        <div class="reciversender-name">From {{toPrint.sender.name}}</div>
        <div class="reciversender-address">{{toPrint.sender.address1}}</div>

        <div class="reciversender-address">{{toPrint.sender.address2}}</div>
        <div class="reciversender-address">{{toPrint.sender.suburb}}</div>
      </div>
    </mat-card-content>

  </mat-card>
</div>